<div class="home-container" style="background-image: url(image_bg.svg);">
    <div class="left-section">
      <h1 class="title">PHISHING LINKS<br />DETECTOR</h1>
      <p class="description">
        Our PhishDetecting project is a cutting-edge system designed to identify and mitigate phishing attacks in real-time,
        safeguarding users from fraudulent websites and email threats.
      </p>
      <div class="btn-group">
        <button class="glass-btn" [routerLink]="['/check-url']">Check URLs</button>
        <button class="glass-btn" [routerLink]="['/check-mail']">Check Emails</button>
      </div>
    </div>
    <div class="right-section">
      <img src="side.png" alt="Phishing Illustration" />
    </div>
  </div>