<div class="about-us" style="background-image: url('image_bg1.svg');">
    <div class="section">
      <h2>About This Project</h2>
      <p>This is a sample project made using Angular and FastAPI as part of an MST lab assignment.</p>
    </div>
  
    <div class="feedback-form-wrapper">
      <form class="feedback-form">
        <input type="text" placeholder="Your Name"  name="name" required />
        <input type="text" placeholder="Subject"name="subject" required />
        <textarea placeholder="Feedback / Issues" name="message" required></textarea>
        <button type="submit">Send Feedback</button>
      </form>
    </div>
  </div>
  